# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Adarsh Kumar Yadav (adarsh-dell)
# Akshay Saini (AkshaySainiDell)
# Christian Coffield (ChristianAtDell, christian_coffield@dell.com)
# Francis Nijay (francis-nijay)
# Harish P (harishp8889)
# Harshita Pandey (harshitap26)
# Niranjan N (niranjan-n1)
# Prasanna Muthukumaraswamy (prablr79)
# Santhosh Lakshmanan (santhoshatdell, santhosh.lakshmanan@dell.com)
# Satya Narayana (satyakonduri)
# Surya Prakash Gupta (suryagupta4)
# Tarandeep Singh Gill (gilltaran)
# Vinutha Kini (kenivi1)


# for all files:
* @adarsh-dell @AkshaySainiDell @ChristianAtDell @francis-nijay @harishp8889 @harshitap26 @niranjan-n1 @prablr79 @santhoshatdell @satyakonduri @suryagupta4 @gilltaran @kenivi1
