# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Akshay Saini (AkshaySainiDell)
# Adarsh Kumar Yadav (adarsh-dell)
# Francis Nijay (francis-nijay)
# Harish P (harishp8889)
# Harshita Pandey (harshitap26)
# Niranjan N (niranjan-n1)
# Prasanna Muthukumaraswamy (prablr79)
# Satya Narayana (satyakonduri)
# Shanmugapriya M (spriya-m)
# Surya Prakash Gupta (suryagupta4)
# Tarandeep Singh Gill (gilltaran)
# Vinutha Kini (kenivi1)


# for all files:
* @AkshaySainiDell @adarsh-dell @francis-nijay @harishp8889 @harshitap26 @niranjan-n1 @prablr79 @satyakonduri @spriya-m @suryagupta4 @gilltaran @kenivi1
